@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Sora', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
  color: #0f172a;
}

#root {
  min-height: 100vh;
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }

  body * {
    visibility: hidden;
  }

  .printable-receipt,
  .printable-receipt * {
    visibility: visible;
  }

  .printable-receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none !important;
  }

  button {
    display: none !important;
  }
}
